{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ blog.title }}
                    </h5>
                    <p class="card-text">
                        {{ blog.description|linebreaksbr }}
                    </p>
                    <p class="card-text">
                        <small class="text-muted created-at-content" data-created_at="{{blog.created_at|date:'c'}}" data-author="{{blog.author}}">
                            By {{ blog.author }} on {{ blog.created_at|date:"D d M Y" }} {{ blog.created_at|time:"h:i a" }}
                        </small>
                    </p>
                    <a href="{% url 'blog-post-update' blog.pk %}" class="btn btn-primary">Update this blog</a>
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary">&lt;&lt;&nbsp;Back to list</a>
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $.each($(".created-at-content"), function(index, elem) {
                var datetime = $(elem).attr("data-created_at");  // must be in ISO8601 format.
                var formatted_datetime = moment(datetime).format("ddd, MMM Do YYYY, hh:mm a");
                $(elem).text("By " + $(elem).attr("data-author") + " on " + formatted_datetime);
            });
        });
    </script>
{% endblock %}